.connection-params__form__error-msg,
.connection__form__error-msg {
  color: red;
  font-size: 12px;
}
.connection-params__form__success-msg,
.connection__form__success-msg {
  color: green;
  font-size: 12px;
}
