.connection-page {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 40px;
  flex-direction: column;
}
.connection-page .container-page__header__wrapper {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  justify-content: left;
  margin-bottom: 20px;
}
.connection-page .vertical-divider {
  height: 100%;
  width: 0.5px;
  background: white;
}
.connection-page .container-page__header {
  display: inline-block;
  padding: 30px 40px;
  background-color: #ffffff;
  text-align: left;
  border-radius: 5px;
  width: 520px;
}
.connection-page .connection-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* justify-content: space-evenly; */
}
.connection-page .connection-params__form {
  display: flex;
  justify-content: space-between;
}
.connection-page .connection-params__form input {
  width: 200px;
  display: block;
}
.connection-page .connection-params__form--right {
  position: relative;
  top: -4px;
}
.connection-page .connection-params__form .submit-btn {
  background: #f2782e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 25px 0 0;
  font-size: 14px;
  cursor: pointer;
}
.connection-page .connection-params__form .submit-btn.btn-invalid {
  opacity: 0.5;
  cursor: not-allowed;
}
.connection-page
  .connection-params__form
  .connection-params__form__success-msg {
  margin-top: 10px;
  color: green;
  font-size: 12px;
}
