.form-input select {
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #808080;
  outline: none;
  width: 100%;
}
.form-select select:focus {
  border: 1px solid #f2782e;
}
.form-select .error-msg {
  color: red;
  font-size: 12px;
}
.form-select.invalid-select select {
  border: 1px solid red;
}
