.connection__form-container {
  display: inline-block;
  padding: 30px 40px;
  background-color: #ffffff;
  text-align: left;
  border-radius: 5px;
  width: 520px;
}
.connection__form-container .connection__form-header {
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 40px 0;
}
.connection__form-container .form-input {
  margin: 15px 0;
}
.connection__form-container input {
  display: block;
}
.connection__form-container .form-input input {
  width: 100%;
}
.connection__form-container .submit-btn {
  background: #f2782e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 25px 0 0;
  font-size: 14px;
  cursor: pointer;
}
.connection__form-container .submit-btn.btn-invalid {
  opacity: 0.5;
  cursor: not-allowed;
}
.connection__form-container .connection__form__error-msg {
  margin-top: 10px;
  color: red;
  font-size: 12px;
}
.connection__form-container .connection__form__success-msg {
  margin-top: 10px;
  color: green;
  font-size: 12px;
}
