.form-input input {
  /* padding: 10px 15px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #808080;
  outline: none;
  width: 100%; */
}
.form-input input:focus {
  /* border: 1px solid #f2782e; */
}
/* .form-input .error-msg {
  color: red;
  font-size: 12px;
}
.form-input.invalid-input input {
  border: 1px solid red;
} */
