* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  /* background-color: #1c1b2d; */
  height: 100vh;
  width: 100vw;
  font-family: "Helvetica";
  font-size: 14px;
  /* color: #ffffff; */
}
.text--primary {
  color: #f2782e;
}
.hide {
  display: none;
}
