.job__form__error-msg {
  margin-top: 5px;
  color: red;
  font-size: 12px;
}
.job__form__success-msg {
  margin-top: 5px;
  color: green;
  font-size: 12px;
}
.destination-table--error-msg,
.source-table--error-msg {
  color: red;
  font-size: 12px;
}
